@font-face {
  font-family: 'Space Mono';
  src: url(".././fonts/subset-SpaceMono-Regular.woff2") format("woff2"), url(".././fonts/subset-SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Space Mono';
  src: url(".././fonts/subset-SpaceMono-Bold.woff2") format("woff2"), url(".././fonts/subset-SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Space Mono';
  src: url(".././fonts/subset-SpaceMono-Italic.woff2") format("woff2"), url(".././fonts/subset-SpaceMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Space Mono';
  src: url(".././fonts/subset-SpaceMono-BoldItalic.woff2") format("woff2"), url(".././fonts/subset-SpaceMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
